<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% for p in modelos %}

        <li>{{p}}</li>  
        <button>
            <a href="{% url 'EliminarModelo' p.nombre %}"> Eliminar</a>
         
        </button>


    {% endfor %}

    <br>
    <a href="{% url 'ModeloFormulario' %}">Agregar otro Modelo</a>
    <a href="{% url 'Inicio' %}">Volver al inicio</a>

    
</body>

</html>
