<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    {% for p in repuestos %}
    <div>
    
        <li>{{p}}</li>

        <button>
            <a href="{% url 'EliminarRepuesto' p.nombre %}"> Eliminar</a>
            <a href="{% url 'EditarRepuesto' p.nombre %}"> Editar</a>
        </button>   

    {% endfor %}
    <br>
    <a href="{% url 'RepuestoFormulario' %}">Agregar otro Repuesto</a>
    <a href="{% url 'Inicio' %}">Volver al inicio</a>

    </div>
</body>
</html>