<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for p in dueños %}
        <li>{{p}}</li>

        <button>
            <a href="{% url 'EliminarDueño' p.nombre %}"> Eliminar</a>
            <a href="{% url 'EditarDueño' p.nombre %}"> Editar</a>
            
        </button>
    {% endfor %}
    <br>
    <a href="{% url 'DueñoFormulario' %}">Agregar otro Dueño</a>
    <a href="{% url 'Inicio' %}">Volver al inicio</a>
</body>
</html>